.navigation__checkbox {
	display: none;
}

.navigation__checkbox:checked ~ .navigation__background {
	transform: scale(100);
}

.navigation__checkbox:checked ~ .navigation__nav {
	opacity: 1;
	width: 100%;
}

.navigation__checkbox:checked ~ .navigation__button .navigation__icon {
	background-color: transparent;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
	transform: rotate(135deg);
	top: 0;
}

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
	top: 0;
	transform: rotate(-135deg);
}

.navigation__button {
	@apply bg-accent-1;
	height: 3.5rem;
	width: 3.5rem;
	position: fixed;
	top: .7rem;
	right: 1rem;
	z-index: 300;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}

.navigation__button:hover .navigation__icon::before {
	top: -.7rem;
}

.navigation__button:hover .navigation__icon::after {
	top: .7rem;
}

.navigation__background {
	height: 3.5rem;
	width: 3.5rem;
	border-radius: 50%;
	background-image: radial-gradient(#1c1c27, #28293d);
	position: fixed;
	top: .7rem;
	right: 1rem;
	z-index: 100;
	transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
}

.navigation__nav {
    min-height: 100vh;
    overflow: auto;
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	opacity: 0;
	width: 0;
	transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navigation__nav::-webkit-scrollbar {
    @apply hidden
}

.navigation__list {
    padding-bottom: 8rem;
    padding-top: 8rem;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
	text-align: center;
}

.navigation__item {
	margin: .5rem;
}

.navigation__link:link, .navigation__link:visited {
    @apply text-xl font-light;
    min-width: max-content;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 2rem;
	color: #ffffff;
	background-image: linear-gradient(120deg, transparent 0%, transparent 50%, rgb(172, 92, 217) 50%);
	background-size: 250%;
	transition: all .4s;
}

.navigation__link:link span, .navigation__link:visited span {
	display: inline-block;
	margin-right: 1.5rem;
}

.navigation__link:hover, .navigation__link:active {
    @apply text-main-8;
	background-position: 100%;
	transform: translateX(1rem);
}

.navigation__link-active {
    @apply text-main-8;
	background-position: 100%;
}

.navigation__icon {
	position: relative;
	margin-top: 1.7rem;
}

.navigation__icon, .navigation__icon::before, .navigation__icon::after {
    @apply bg-main-8;
	width: 2rem;
	height: 2px;
	display: inline-block;
}

.navigation__icon::before, .navigation__icon::after {
	content: '';
	position: absolute;
	left: 0;
	transition: all .2s;
}

.navigation__icon::before {
	top: -.6rem;
}

.navigation__icon::after {
	top: .6rem;
}