@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

::-webkit-scrollbar {
    @apply w-2 bg-transparent;
}

::-webkit-scrollbar-track {
    @apply bg-main-4;
}

::-webkit-scrollbar-thumb {
    @apply bg-accent-2;
}

::-webkit-scrollbar-thumb:hover {
    @apply bg-accent-1;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
}